


    <h1><%= @text[:body] %></h1>
   <p><%= @paragraph[:title] %></p>
   <!-- we dont want bottom ruby code to be shown up on page so we don't put
   equals sign in ice cream cone, bottom code is logic so we don't show it up on screen
    -->
